* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(151, 247, 151);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#ptop {
    background-color: green;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30%;
    color: white;
    font-weight: 700;
}

#elem {
    display: flex;
    align-items: center;
    gap: 10px;

}

#elem h2 {
    font-size: 25px;

}

.box {
    background-color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

#pbtm {
    height: calc(100% - 90px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(3, 53, 3);
    border-radius: 50%;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

#bubble:hover {
    cursor: pointer;
    background-color: rgb(56, 99, 60);
}